
body {
    background-color: grey !important;
}

.main {
    background-color: white !important;
    margin: 30px !important;
}

.btn-publish {
    float: right !important;
    margin-bottom: 15px !important;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}