<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${question.title}">问题描述</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/css/community.css" th:href="@{/css/community.css}"/>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
        <script src="../static/js/moment.min.js" th:src="@{/js/moment.min.js}" type="application/javascript"></script>
    </head>
    <body>

        <div th:insert="navigation :: nav"></div>

        <div class="container-fluid main profile">
            <div class="row">
                <!-- lg、md、sm、xs 指代在不同设备大小下的布局 -->
                <!-- 左边主要内容 -->
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

                    <!-- 正文 -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4 class="question-title"><span th:text="${question.title}"></span></h4>
                        <span class="text-desc">
                        作者：<span th:text="${question.user.name}"></span>
                          |  发布时间：<span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                          |  阅读数：<span th:text="${question.viewCount}">31</span>
                        </span>

                        <!-- 内容 -->
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                        th:text="${question.description}"></div>

                        <!-- 标签 -->
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="label label-info question-tag" th:each="tag : ${question.tag.split(',')}">
                                <span class="glyphicon glyphicon-tags"></span>
                                <span class="label label-info" th:text="${tag}">tag</span>
                            </span>
                        </div>

                        <!-- 编辑 -->
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="#" th:href="@{/publish/{id}(id=${question.id})}" class="community-menu"
                               th:if="${session.user != null && session.user.id == question.creator}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                            </a>
                        </div>

                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>

                    <!-- 回复 -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4>
                            <span th:text="${question.commentCount}"></span> 个回复
                        </h4>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                        <!-- 评论遍历 -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments"
                             th:each="comment : ${comments}">
                            <div class="media">
                                <div class="media-body" th:id="${'comment-body-' + comment.id}">
                                    <h5 class="media-heading">
                                        <span th:text="${comment.user.name}">我是用户名</span>
                                    </h5>
                                    <div th:text="${comment.content}">我是回复内容</div>
                                    <div class="menu">
                                        <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                        <span th:data-id="${comment.id}" onclick="collapseComments(this)"
                                            class="comment-icon">
                                            <span class="glyphicon glyphicon-comment"></span>
                                            <span th:text="${comment.commentCount}"></span>
                                        </span>
                                        <span class="pull-right"
                                              th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                                    </div>

                                    <!-- 二级评论 -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                        th:id="${'comment-' + comment.id}">

                                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments"
                                         th:each="comment : ${comments}">
                                            <div class="media">
                                                <div class="media-left media-middle">
                                                    <a href="#">
                                                        &lt;!&ndash; 头像 &ndash;&gt;
                                                        <img class="media-object img-rounded"
                                                             th:src="${comment.user.avatarUrl}" alt="">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">
                                                        <span th:text="${comment.user.name}">我是用户名</span>
                                                    </h5>
                                                    <div th:text="${comment.content}">我是回复内容</div>
                                                    <div class="menu">
                                                        <span class="pull-right"
                                                              th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" placeholder="评论一下..."
                                                   th:id="${'input-' + comment.id}">
                                            <button class="btn btn-success pull-right btn-comment"
                                                    type="button" onclick="comment(this)" th:data-id="${comment.id}">
                                                评论
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 回复输入框 -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4>
                            提交回复
                        </h4>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="#">
                                        <img class="media-object img-rounded"
                                             th:src="${question.user.avatarUrl}" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        <span th:text="${question.user.name}"></span>
                                    </h5>
                                </div>
                            </div>
                            <input type="hidden" id="question_id" th:value="${question.id}">
                            <textarea rows="6" class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_content"></textarea>
                            <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                        </div>
                    </div>
                </div>

                <!-- 右边信息框 -->
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4>发起人</h4>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object img-circle"
                                         th:src="${question.user.avatarUrl}" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    <span th:text="${question.user.name}"></span>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <!-- 微信号 -->
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h4>关注麻酱笔记</h4>
                        <img class="img-thumbnail question-wechat" src="../static/img/wechat.jpg" th:src="@{/img/wechat.jpg}" alt="#">
                    </div>

                    <!-- 相关问题 -->
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr>
                        <h4>相关问题</h4>
                        <ul class="question-related">
                            <li th:each="related : ${relatedQuestions}">
                                <a th:href="@{'/question/' + ${related.id}}" th:text="${related.title}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // 提交回复
            function post() {
                let questionId = $("#question_id").val();
                let content = $("#comment_content").val();

                commentToTarget(questionId, 1, content);
            }

            function comment(e) {
                let commentId = e.getAttribute("data-id");
                let content = $("#input-" + commentId).val();
                commentToTarget(commentId, 2, content);
            }

            function commentToTarget(targetid, type, content) {
                if (!content) {
                    alert("不能回复空内容~~");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/comment",
                    contentType: "application/json",
                    // stringify()：将 js 对象转换为字符串
                    data: JSON.stringify({
                        "parentId": targetid,
                        "content": content,
                        "type": type,
                    }),
                    success: function (response) {
                        if (response.code === 200) {
                            window.location.reload();
                        } else {
                            if (response.code === 2003) {
                                let isAccepted = confirm(response.message);
                                if (isAccepted) {
                                    window.open("https://github.com/login/oauth/authorize?" +
                                        "client_id=9760a269385ebb3414c5" +
                                        "&redirect_uri=http://localhost:8081/callback&scope=user&state=1");
                                    window.localStorage.setItem("closable", true);
                                }
                            } else {
                                alert(response.message);
                            }
                        }
                        console.log(response);
                    },
                    dataType: "json"
                });
            }

            // 展开二级评论
            function collapseComments(e) {
                let id = e.getAttribute("data-id");
                let comments = $("#comment-" + id);

                // 获取一下二级评论的展开状态
                let collapse = e.getAttribute("data-collapse");
                if (collapse) {
                    // 折叠二级评论
                    comments.removeClass("in");
                    e.removeAttribute("data-collapse");
                    e.classList.remove("active");
                } else {
                    let subCommentContainer = $("#comment-"+id);

                    if (subCommentContainer.children().length !== 1) {
                        // 展开二级评论
                        comments.toggleClass("in");
                        // 标记二级评论展开状态
                        e.setAttribute("data-collapse", "in");
                        e.classList.add("active");
                    } else {
                        $.getJSON("/comment/" + id, function (data) {
                            $.each(data.data.reverse(), function (index, comment) {

                                // 苦大仇深的前端拼接
                                let mediaLeftElement = $("<div/>", {
                                    "class": "media-left",
                                }).append($("<img/>", {
                                    "class": "media-object img-rounded",
                                    "src": comment.user.avatarUrl,
                                }));

                                let mediaBodyElement = $("<div/>", {
                                    "class": "media-left",
                                }).append($("<h5/>", {
                                    "class": "media-object img-rounded",
                                    "html": comment.user.name,
                                })).append($("<div/>", {
                                    "html": comment.content,
                                })).append($("<div/>", {
                                    "class": "menu",
                                }).append($("<span/>", {
                                    "class": "pull-right",
                                    "html": moment(comment.gmtCreate).format("YYYY-MM-DD"),
                                })));

                                let mediaElement = $("<div/>", {
                                    "class": "media",
                                }).append(mediaLeftElement)
                                    .append(mediaBodyElement);

                                let commentElement = $("<div/>", {
                                    "class": "col-lg-12 col-md-12 col-sm-12 col-xs-12 comments",
                                }).append(mediaElement);
                                subCommentContainer.prepend(commentElement);
                            });
                        });
                        // 展开二级评论
                        comments.toggleClass("in");
                        // 标记二级评论展开状态
                        e.setAttribute("data-collapse", "in");
                        e.classList.add("active");
                    }
                }
            }
        </script>
    </body>
</html>

